<form id="frmBusquedaAlumno">
    <div class="card text-bg-dark mb-3" style="width: 700px">
        <div class="card-header">
            <div class="d-flex">
                Consulta de Alumno
                <div class="ms-auto">
                    <button type="button" data-form="busqueda_alumno" class="btn-close btn-close-white"></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-dark table-hover" id="tblConsultaAlumnos">
                <thead>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>TEL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>
<script>
    listarAlumnos();

    async function listarAlumnos() {
        const respuesta = await fetch('/api/Alumnos'),
            alumnos = await respuesta.json();
        let filas = "";
        alumnos.forEach(alumno => {
            filas += `
                <tr onclick='modificarAlumno(${JSON.stringify(alumno)})'>
                    <td>${alumno.codigo}</td>
                    <td>${alumno.nombre}</td>
                    <td>${alumno.direccion}</td>
                    <td>${alumno.telefono}</td>
                    <td><button class="btn btn-danger" onClick='eliminarAlumno(${JSON.stringify(alumno)}, event)'>DEL</button></td>
            `;
        });
        $("#tblConsultaAlumnos > tbody > tr").remove();
        $("#tblConsultaAlumnos > tbody").append(filas);
    }
    async function eliminarAlumno(alumno, e) {
        e.preventDefault();

        if (confirm(`Esta seguro de eliminar a ${alumno.nombre.trim()}?`)) {
            const respuesta = await fetch(`https://localhost:7046/api/Alumnos/${alumno.idAlumno}`, {
                method:"DELETE",
                headers: {
                    "Content-Type": "application/text"
                }
            }), datos = await respuesta.text();
            if (datos && datos.length > 0) {
                consol.error(datos);
            } else {
                listarAlumnos();
            }
        }
    }
</script>